/* Use your own code or past solution for Great Idea Web Page CSS here! */

.container {
	width: 900px;
	margin: auto;
  }
  
  p {
	padding: 10px;
  }
  
  h1 {
	font-size: 50px;
	font-family: "bangers", cursive;
	justify-content: center;
  }
  h2 {
	font-size: 25px;
	font-family: "bangers", cursive;
	padding: 10px;
  }
  header{
	  display: flex;
	  width: 100%;
	  justify-content: center;
  }
  nav {
	display: flex;
	justify-content: space-evenly;
	width:80%;
	background: white;
	align-items: center;
  }

  nav a {
	color: grey;
	text-decoration: none;
  }


  
   /* .intro {
	padding: 100px;
	text-align: center;
  }  */
  
   .intro {
	background-color: white;
	text-align: center;
	width: 130px;
	margin: 15px;
  } 
  
  .picture-box {
	width: 100%;
  }
  
  .middle-img {
	width: 100%;
	padding: 10px;
  }
  
  .top-content {
	display: flex;
	direction: row;
  }
  
  .bottom-content {
	display: flex;
	direction: row;
	font-family: "";
  }
  
  .contact-content a {
	text-decoration: none;
	color: black;
  }
  
  .intro-container {
	display: flex;
	direction: row;
	justify-content: space-between;
  }
  
  .introimg {
	margin: 25px;
  }
  
  .container {
	max-width: 100vw;
	overflow: hidden;
  } 
  .intro-container {
	display: flex;
	direction: row;
	justify-content: space-between;
  }
  .introimg {
	margin: 25px;
  }
  .intro {
	padding: 100px;
	text-align: center;
  }

  

	  .top-content {
		display: flex;
		flex-direction: row;
	  }
  
	  .bottom-content {
		display: flex;
		flex-direction: row;
	  }

	  .intro-container .intro {
		text-align: center;
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: center;
	  }
	  .intro .started {
		margin: auto;
		width: 200px;
	  }
  

  .main-image{
	  width:60%;
	  margin: 2%;
  }

  .cto{
	display:flex;
	border: 1px;
	margin: 20px;
	text-align: left;
  }
  
.boxes {
	width: 100%;
	display:flex;
	flex-direction: row;
	margin: 0 auto
}
.digital, .ux {
	border: 1px solid black;
	background-color: white;
	margin: 20px;
	text-align: left;
	background-color: lightgrey;
}
.two{
	display: flex;
	justify-items: center;
	flex-direction: row;
	width: 100%;
	margin: 0 auto
}
.marketing, .web {
	border: 1px solid black;
	background-color: white;
	margin: 20px;
	text-align: left;
	background-color: lightgrey;
}
.three{
	display: flex;
	width: 100%;
	margin: 0 auto
}
.ios, .andriod{
	border: 1px solid black;
	background-color: white;
	margin: 20px;
	background-color: lightgrey;
}
.conclusion{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content:space-between;
	margin:0 auto;
}
.first-section{
	width:46%;
	padding: 5% 0;
	margin: 0 auto;
	margin-left: 0%;
}

footer{
	text-align: center;
	margin: 1%;
} 
/* media */
/* ipad */
@media (max-width: 800px) {
    body {
      width: 800px;
      margin: 0 auto;
    }
    .intro-container {
      justify-content: center;
    }
    img.introimg {
      display: none;
    }
    .top-content {
      display: flex;
      flex-direction: row;
    }
    .bottom-content {
      display: flex;
      flex-direction: row;
    }
  }
  
  /* iphone */
  @media (max-width: 500px) {
    body {
      width: 500px;
      margin: 0 auto;
    }
    nav {
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
    }
    nav a {
      justify-content: center;
      width: 100vw;
      border-bottom: 1px solid black;
    }
    .top-content {
      display: flex;
      flex-direction: column;
    }
    .bottom-content {
      display: flex;
      flex-direction: column;
    }
    .intro-container .introimg {
      display: none;
    }
    .intro .started {
      margin: auto;
      width: 200px;
    }
  }